//******************************** TESTING
.fa-bowling-ball{
    font-size: 100px;
    animation-duration: 4s;
    /* animation-delay: 10s; */
   margin-top: 100px;
   color: brown;
   animation-iteration-count: 3;
}