.App {
  min-height: 100vh;
  padding-bottom: 40px;
}
.row {
  background: #ffc095;
}
.navbar {
  background: #ea6d56;
  position: sticky;
  top: 0px;
}
.navbar .fa-caret-square-down {
  color: white;
}
@media (min-width: 768px) {
  .navbar .fa-caret-square-down {
    display: none;
  }
}
.navbar .navbar-brand {
  color: white;
}
.navbar .nav-item {
  color: white;
}
.fa-book-open {
  font-size: 40px;
  animation: bounceInLeft;
  animation-duration: 3s;
  /* animation-delay: 10s; */
  animation-iteration-count: 1;
}
.nav-styles {
  color: white;
  width: 100%;
  letter-spacing: 5px;
  font-size: 50px;
  background: #ea6d56;
}
.bubbles-styles {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  box-sizing: border-box;
  margin: 30px;
  max-width: 100px;
  margin-left: 6%;
}
.bubbles-styles .bubble-container {
  max-width: 50px;
  min-width: 50px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  width: 40%;
  border-radius: 60px;
  background: #ea6d56;
  padding: 10px;
  box-shadow: 6px 6px 30px #7e2110;
}
.bubbles-styles .bubble-container:hover {
  background: #e44629;
  box-shadow: 2px 2px 15px #7e2110;
}
.bubbles-styles .sign-in-icon {
  position: sticky;
  top: 50px;
}
.bubbles-styles .user-icon {
  position: sticky;
  top: 130px;
}
.bubbles-styles .plus-icon {
  position: sticky;
  top: 210px;
}
.bubbles-styles .sort-icon {
  position: sticky;
  top: 290px;
}
.bubbles-styles .sort-icon:hover {
  opacity: 1;
}
.bubbles-styles .bubble-container:active {
  animation: fadeIn;
  animation-duration: 2s;
  /* animation-delay: 10s; */
  animation-iteration-count: 1;
}
.card {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 70%;
}
.card .card-title {
  font-size: 26px;
}
.card .card-text {
  border-top: 3px solid #ea6d56;
  margin: 0 auto;
  max-width: 85%;
}
